.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.NumberInput {
  margin-bottom: 20px;
}

.Button {
  margin-right: 10px;
}

.Result {
  margin-top: 20px;
  font-weight: bold;
}
